body {
   text-align: left;
   margin-top: 10px;
   margin-left: 50px;
 }
h1 {
   font-weight: bold;
}
table {
   border-collapse: collapse;
   border-color: #ccc;
   border-width: 1px;
   border-style: solid;
}
th {
   background-color: #eee;
   padding: 8px;
   border-color: #ccc;
   border-width: 1px;
   border-style: solid;
   font-weight: bold;
}
td {
   padding: 8px;
   border: 1px;
   border-style: solid;
   border-color: #ccc;
}